{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blogs/styles/register.css' %}">
    <title>Register</title>
</head>
<body>

    <div class="register-container">
        <form 
        
        method="POST">
            {% csrf_token %}
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                        <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
            <h2>Register</h2>
            <div class="input-group">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" name="first_name" required>
            </div>
            <div class="input-group">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" name="last_name" required>
            </div>
            <div class="input-group">
                <label for="text">Username</label>
                <input type="text" id="email" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Register</button>
            <p>Already have an account? <a href="{% url 'login_page' %}">Login Now</a></p>
        </form>
    </div>
</body>
</html>
